*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: #121212;
}

.container{
    text-align: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    background-color: #1e1e1e;
}

#todoList{
    list-style: none;
    margin: 0;
    padding: 0;
}

.taskItem{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    background-color: #1e1e1e;
}

.taskItem:hover{
    background-color: #333;
    transform: scale(1.05);
    box-shadow: 0 0 10px #555;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    box-shadow: 0 0 10px #000;
    width: 100px;
}

button:active{
    opacity: 0.7;
}

.taskItem:active{
    background-color: #4caf50;
    color: white;
}

#todoInput{
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 10px #000;
    font-size: 16px;
    width: 100%;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.deleteButton{
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px #000;
}

#dateInput{
    margin: 10px;
    width: 18%;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    font-size: 16px;
    color: #aaa;
    background-color: #1e1e1e;
}

.taskdates{
    margin: 10px;
    width: 18%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    font-size: 16px;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.taskdates:hover{
    background-color: #333;
}

.tasktext{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 10px #000;
    font-size: 16px;
    width: 100%;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.taskContainer{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    background-color: #1e1e1e;
}
